body {
    background-color: #131722;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.server-directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.folder-block {
    background-color: #004080;
    border: 1px solid #0059b3;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    transition: transform 0.2s;
}

.folder-block:hover {
    transform: scale(1.05);
}

.cover-image {
    border-bottom: 1px solid #0059b3;
    width: 100%;
    height: auto;
}

.folder-name {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.folder-name a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.folder-name a:visited {
    color: #ffffff;
    text-decoration: none;
}

.folder-name a:hover {
    color: #ffffff;
    text-decoration: none;
}

.folder-name a:active {
    color: #ffffff;
    text-decoration: none;
}

.folder-name a:focus {
    color: #ffffff;
    text-decoration: none;
}
